BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
SpaceAfterCStyleCast: true
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SortIncludes: true
IncludeBlocks: Regroup
Cpp11BracedListStyle: true
PointerAlignment: Left
DerivePointerAlignment: false
ReflowComments: true
IndentCaseLabels: true
